- Do not try to run the projects locally. Only through `docker compose run --rm app sh -c COMMAND_EXAMPLE`.
- Keep answers concise and direct.
- Suggest alternative solutions.
- Avoid unnecessary explanations.
- Prioritize technical details over generic advice.
- When creating new models, use drf-spectacular when appropriate and do not forget to register the model in django admin.
- Never create README files or documentation if not asked to do it. Comments are allowed.
- Always offer the alternatives before making changes. 
- Include the (recommended) approach in the list.
- Remember of creating log entries when appliable.
- When creating a file that will be runned via docker, check if the file is in WORKDIR directory.
- When 
